<p id="notice"><%= notice %></p>

<p>
	Sua situação é a seguinte:
</p>
<p>
  <b>Renda:</b>
  R$ <%= @situation.renda %>
</p>

<p>
  <b>Custo:</b>
  R$ <%= @situation.custo %>
</p>

<p>
  <b>Total devedor:</b>
  R$ <%= @situation.total_devedor %>
</p>

<p>
  <b>Juros:</b>
  R$ <%= @situation.juros %>
</p>

<p>
  <b>Minimo fatura:</b>
  R$ <%= @situation.minimo_fatura %>
</p>

<hr>

<h1>Passo 1:</h1>
<p>
	Pare de realizar compras desnecessárias.<br />
	Tenha apenas os gastos fixos.
</p>

<h1>Passo 2:</h1>
<p>
	Pague a sua próxima fatura.<br />
	<b>Proxima Fatura:</b>
 	R$ <%= @proxima_fatura %>
</p>

<h1>Passo 3:</h1>
<p>
	Guarde o valor restante em sua conta e não gaste!<br />
</p>

<h1>Passo 4:</h1>
<p>
	Realize todos os passos novamente no próximo mês!<br />
</p>


<%= link_to 'Calcular outra situação', situations_path %>
